body{
    background-color: #a4cf62;
    padding: 0;
    margin: 0;    
}


#sectionCadastro{
    background-color: #f8f9fa;
    color: black;
    height: 400px;
    width: 25%;
    box-sizing: content-box;
    float: left;     
    position: absolute; 
    text-align: center;
}


#sectionTable{
    background-color: #ececec;
    color: white;
    height: 400px;
    width: 74%;
    float: right;
    
}


h1{
    text-align: center;
    color: #13007f;
}

.formId{        
    display: inline-block;
    position: relative;
}